footer {
  height: 100px;
  background-color: #4877f2;
}

.container {
  height: 100px;
  max-width: 1180px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer_text {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
